<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #5da1d1;">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#">Stock Market Charting</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/company" href="#">Company </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sector" href="#">Sector</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stock-exchange" href="#">Stock Exchange</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/ipo" href="#">IPO</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Import Excel</a>
          </li> -->
        

         
      </ul>
      <ul class="nav navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" href="#"> Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" href="#"> Login</a>
        </li>
      </ul>
      
      
    </div>
  </div>
  </nav>
  <!-- <div class="container-md pt-5">
     <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/images/stock1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/images/stock2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/images/stock3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>  -->
    